<div class="d-flex flex-column align-items-center mt-4">
    <h2 class="mb-4">Login to an account</h2>

    <form class="d-flex flex-column w-75 align-items-center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="element_form mb-4 w-100">
            <label class="form-label">Email address :</label>
            <input class="form-control" formControlName="emailControl" type="email" placeholder="Your email address (example@domain.com)"/>
            <p class="information-forms"  *ngIf="!emailControl.valid && submitted">Invalid email address (valid : exemple@domain.com)</p>
        </div>
        <div class="element_form mb-4 w-100">
            <label class="form-label">Password :</label>
            <input class="form-control" formControlName="passwordControl" type="password" placeholder="Your password"/>
            <p class="information-forms" *ngIf="!passwordControl.valid && submitted">You must select a password</p>
        </div>
        <input class="btn btn-primary align-self-center" type="submit" value="Submit">
    </form>
</div>

