<h2>Login to an account</h2>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="element_form">
        <label>Email address :</label>
        <input formControlName="emailControl" type="email" placeholder="Your email address (example@domain.com)"/>
        <p class="information-forms"  *ngIf="!emailControl.valid && submitted">Adresse Mail invalide (Exemple valide : exemple@domain.com)</p>
    </div>
    <div class="element_form">
        <label>Password :</label>
        <input formControlName="passwordControl" type="password" placeholder="Your password"/>
        <p class="information-forms" *ngIf="!passwordControl.valid && submitted">Vous devez saisir un mot de passe</p>
    </div>
    <input type="submit" value="Submit">
</form>
