<div id="profile_informations">
    <div class="profile_picture">
        <img src="{{getUrlIconHierarchy(employeeData.hierarchy)}}" width="100" height="100">
        <img src="../../../assets/michele.jfif" width="80" height="80">
    </div>

    <h3 class="username">{{employeeData.username}}</h3>

    <div class="rank">
        <img src="{{getUrlIconRank(employeeData.rank)}}" width="80" height="80">
    </div>

    <div class="department">
        <img src="{{getUrlIconDepartment(employeeData.department)}}" width="80" height="80">
        <p>{{employeeData.department}}</p>
    </div>

    <div class="exp_data">
        <div>
            <p><span class="exp_data_value">{{employeeData.totalPoints}}</span>
                <br>pts (total)</p>
        </div>

        <div>
            <p><span class="exp_data_value">{{employeeData.pointsWonThisMonth}}</span>
                <br>pts won this month</p>
        </div>

        <div>
            <p><span class="exp_data_value">{{employeeData.pointsRemaining}}</span>
                <br>pts remaining</p>
        </div>
    </div>

    <div class="see_stuffs_and_quests">
        <a href="/mystuffs">See my stuffs</a>
        <a href="/quests">See completed quests</a>
    </div>
</div>

<div id="success_section">
    <div class="success_item" *ngFor="let i of successList">
        <img src="{{i.urlImg}}" width="60" height="60">
        <p>{{i.name}}</p>
        <span class="earned_pts">+{{i.earnedPts}}</span>
    </div>
</div>
