<div id="profile_informations">
    <div class="profile_picture">
        <img src="../../../assets/badges_3.png" width="100" height="100">
        <img src="../../../assets/michele.jfif" width="80" height="80">
    </div>

    <h3 class="username">DupondMich44</h3>

    <div class="rank">
        <img src="../../../assets/ranking_1.png" width="80" height="80">
    </div>

    <div class="department">
        <img src="../../../assets/marketing.png" width="80" height="80">
        <p>Marketing</p>
    </div>

    <div class="exp_data">
        <div>
            <p><span class="exp_data_value">3000</span>
                <br>pts (total)</p>
        </div>

        <div>
            <p><span class="exp_data_value">608</span>
                <br>pts won this month</p>
        </div>

        <div>
            <p><span class="exp_data_value">1500</span>
                <br>pts remaining</p>
        </div>
    </div>

    <div class="see_stuffs_and_quests">
        <a href="/myprofile">See my stuffs</a>
        <a href="/myprofile">See completed quests</a>
    </div>


</div>

<div id="success_section">
    <div class="success_item">
        <img src="../../../assets/succes_1.png" width="60" height="60">
        <p>Nom du succès</p>
        <span class="earned_pts">+20</span>
    </div>

    <div class="success_item">
        <img src="../../../assets/succes_2.png" width="50" height="50">
        <p>Nom du succès</p>
        <span class="earned_pts">+120</span>
    </div>

    <div class="success_item">
        <img src="../../../assets/succes_3.png" width="50" height="50">
        <p>Nom du succès</p>
        <span class="earned_pts">+60</span>
    </div>

    <div class="success_item">
        <img src="../../../assets/succes_4-removebg-preview.png" width="50" height="50">
        <p>Nom du succès</p>
        <span class="earned_pts">+30</span>
    </div>
</div>
