<div class="d-flex flex-column align-items-center mt-4">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h2 class="mb-4">Register to a new account</h2>
    
        <div class="element_form mb-4">
            <label class="form-label" for="email">Email Address :</label>
            <input class="form-control" type="email" name="email" placeholder="example@domain.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" formControlName="email" required>
            <p class="information-forms form-text" *ngIf="submitted && !email.valid">Selected email address is not valid (valid : michel@gmail.com)</p>
        </div>
    
        <div class="element_form mb-4">
            <label class="form-label" for="pseudonyme">Username :</label>
            <input class="form-control" type="text" name="pseudonyme" placeholder="Select your username (example : michel44)" formControlName="username" required>
            <p class="information-forms form-text" *ngIf="submitted && !username.valid">Selected username is not valid</p>
        </div>
    
        <div class="element_form mb-4">
            <label class="form-label" for="password">Password :</label>
            <input class="form-control" type="password" name="password" placeholder="Mot de passe" formControlName="password"
                pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" required>
            <p class="form-text">Minimum 8 characters. Should contain at least on special character, a number and one letter</p>
            <p class="information-forms form-text"
                *ngIf="submitted && (!password.valid || !confirmedPassword.valid || password.value != confirmedPassword.value)">
                Password fields were not selected correctly </p>
        </div>
        
        <div class="element_form mb-4">
            <label class="form-label" for="confirm_password">Confirm the selected password :</label>
            <input class="form-control" type="password" name="confirm_password" placeholder="Vous devez retaper le mot de passe"
                formControlName="confirmedPassword" required>
        </div>
    
        <div id="accept_conditions_div" class="form-check mb-4">
            <input class="form-check-input" type="checkbox" name="accept_conditions" value="acceptCNIL" formControlName="acceptConditions" required>
            <label class="form-label" for="accept_conditions">I accept of ...</label>
        </div>
    
        <p class="information-forms form-text" *ngIf="!registerForm.valid && submitted">***    Seleced data are not valid or some fields were not selected correctly</p>
        <div class="text-center">
            <input class="btn btn-primary center" id="register_btn" type="submit" value="Valider">
        </div>
    </form>
</div>
